.book-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
    background-color: lightgrey;

    .book-preview {
        grid-column: 1;
        display: grid;
        grid-template-columns: auto 1fr auto;

        article.preview {
            background-color: whitesmoke;
            padding: 20px;
            color: black;

            header {
                border-bottom: 2px solid black; 
                margin-block-end: 0.5rem;

            }

            h1 {
                font-size: 1rem;               

            }

            h2 {
                font-size: 1rem;    
                color: blue;           
            }

            p {
                font-size: 1rem;
                margin-block-end: 0.5rem;
            }

            h3 {
                font-size: 0.85rem;
            }
        }

        button {
            background-color: transparent;
            color: gray;
            font-size: 1.5rem;
        
            &:disabled {
                opacity: 0; 
            }
        }
    }

    .wish-list {
        grid-column: 2;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 2;
        
        .wishlisted-books {
            display: grid;
            grid-template-columns: subgrid;
            padding-inline: 2rem;
            gap: 1rem;
            height: fit-content;

            li {
                list-style: none;
                background-color: whitesmoke;
                align-items: center;
                display: grid;
                place-items: center;
                min-height: 3rem;

                h1 {
                    margin: auto;
                    font-size: 1rem;
                    color: black;
                }
            }
        }
    }
}